body {
    font-size: 8pt;
}

@page  {
    margin-top: 0.25cm;
    margin-bottom: 0.25cm;
    margin-left: 0.25cm;
    margin-right: 0.25cm;
}

.paper--a4 {
    max-width: 21cm;
    max-height: 29cm;
    overflow: hidden;
}

.ticket {
    margin-bottom: 0.5rem;
}

.ticket__information h2 {
    margin-bottom: 0.25rem;
}

.ticket__customer li,
.ticket__data li {
    margin-bottom: 0.1rem;
}

.ticket__data {
    font-size: 12pt;
}

.ticket__meeting-point {
    max-width: 100%;
}

.ticket__tips2 {
    list-style: disc;
    margin-left: 1rem;
}

.ticket__tips li {
    text-align: justify;
}

.footer__socialmedia li {
    margin-right: 2rem;
    float: left;
}

.uppercase {
    text-transform: uppercase;
}

.blocktext {
    text-align: justify;
}

.bold {
    font-weight: bold;
}
