.paper--a4 {
    max-width: 21cm;
    max-height: 29cm;
}

.ticket {
    display: flex;
    flex-wrap: wrap;
}

.ticket--information {
    flex: 1 0 auto;
    margin-right: 5px;
    width: 30%;
}

.ticket--card {
    flex-basis: 50%;
}
